@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background: #cecbdb;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input,
select {
    border: 3px;
    font-size: 16px;
    padding: 3px;
    font-weight: bold;
    border: 1px solid;
    border-radius: 5px;
    color: #10035b;
}

.inputContainer input {
    margin-top: 7px;
    width: 30vh
}

.inputRadio {
    display: flex;
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 5px;
    width: 260px;
    align-items: center;
    justify-content: space-around;
}

.selectcurso {
    margin-top: 7px;
    margin-bottom: 10px;
}

.textboxcurso {
    margin-top: 7px;
    margin-bottom: 10px;
}

.ButtonArea {
    display: flex;
    flex-direction: row;
    width: 30vh;
    align-items: center;
    justify-content: space-around;
}

.ButtonArea button {
    padding: 5px;
    margin: 10px;
    width: 80px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(7, 7, 7);

}

.ButtonArea button:hover {
    color: rgb(79, 147, 163);
}